<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kibotu.android.recyclerviewpresenter.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.PresenterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.kotlin.PresenterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.pagination.PaginationActivity"
            android:exported="false" />
        <activity
            android:name=".screens.v2.V2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.nested.NestedActivity"
            android:exported="false" />
        <activity
            android:name=".screens.circular.CircularPresenterActivity"
            android:exported="false" />
    </application>

</manifest>